
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 20% 10%;
    --foreground: 0 0% 98%;
    --card: 250 20% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 250 20% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 260 48% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 250 20% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 250 20% 15%;
    --muted-foreground: 250 10% 70%;
    --accent: 205 87% 64%;
    --accent-foreground: 205 87% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 20% 20%;
    --input: 250 20% 20%;
    --ring: 260 48% 38%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-accent/30 selection:text-accent;
  }
}
